<div class="container">
  <div id="header" class="row my-4 justify-content-center">
    <div class="col-md-6">
      <h2>Github Members List</h2>
    </div>
    <div class="col-md-6 text-end">
      <div class="input-group mb-3">
        <input
          (keyup.enter)="searchUsers()"
          [(ngModel)]="search"
          type="search"
          class="form-control"
          placeholder="search for user... and press enter"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
      </div>
    </div>
  </div>

  <div class="row my-5" *ngIf="users.length">
    <div class="col-md-3" *ngFor="let user of users">
      <app-card
        [login]="user.login"
        [avatar_url]="user.avatar_url"
        [html_url]="user.html_url"
      ></app-card>
    </div>
  </div>

  <div class="row my-5 loading" *ngIf="!users.length">Loading...</div>
</div>
