/* Start Variables  */
:root {
}
/* End Variables  */
/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
html {
  scroll-behavior: smooth;
}

/* Start Responsive Block */
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Responsive Block */
/* End Global Rules  */

/* You can add global styles to this file, and also import other style files */
.loading {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
